@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Regular.ttf");
}

.instagram-hover {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.instagram-hover svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.instagram-hover svg:first-child {
  opacity: 1;
}

.instagram-hover svg.gradient-icon {
  opacity: 0;
}

.instagram-hover:hover svg:first-child {
  opacity: 0;
}

.instagram-hover:hover svg.gradient-icon {
  opacity: 1;
}

.tiktok-hover {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.tiktok-hover svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.tiktok-hover svg:first-child {
  opacity: 1;
}

.tiktok-hover svg.gradient-icon {
  opacity: 0;
}

.tiktok-hover:hover svg:first-child {
  opacity: 0;
}

.tiktok-hover:hover svg.gradient-icon {
  opacity: 1;
}
.embla {
  max-width: 95%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}
.embla__viewport {
  display: flex;
}
.embla__container {
  display: flex;
  height: 50%;
  width: 50%;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}